version: '3.8'

services:
  tomtom-mcp:
    container_name: tomtom-mcp
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - PORT=3000
    ports:
      - "3000:3000"
    restart: unless-stopped
    command: node ./bin/tomtom-mcp-http.js
